<%- include("shared/header.ejs") %>

<div class="login-form w-75 m-auto">
    <div class="row">
        <div class="col-md-6 login text-center">
            <h3 class="text-capitalize text-center mb-5 ">
                <i class="fas fa-quote-left mr-3"></i>login
                <i class="fas fa-quote-right"></i>
            </h3>

            <form action="/handelLogin" method="POST">
                <div class="form-group mb-5  ">
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="fas fa-user mr-1" style="color: #dc3545"></i>
                        <input type="email" class="form-control w-50" id="" placeholder="Email" name="email" />
                    </div>
                </div>
                <% if (exists.length != 0) { %>
                <div class="
                        form-group
                        d-flex
                        justify-content-center
                        align-items-center
                    ">
                    <div class="alert alert-danger w-50">
                        Email Doesn't Exist
                    </div>
                </div>
                <% } %>
                <div class="form-group mb-5 ">
                    <div class="d-flex justify-content-center align-items-center">
                        <i class="fas fa-lock mr-1" style="color: #dc3545"></i>
                        <input type="password" name="password" class="form-control w-50" placeholder="Password"
                            id="exampleInputPassword1" />
                    </div>
                </div>
                <% if (wrong.length != 0) { %>
                <div class="
                        form-group
                        d-flex
                        justify-content-center
                        align-items-center
                    ">
                    <div class="alert alert-danger w-50">Wrong Password</div>
                </div>
                <% } %>
                <button type="submit" class="btn btn-danger w-50 ">
                    Submit
                </button>
            </form>
        </div>
        <div class="col-md-6 photo">
            <img src="images/wp1929358.webp" class="w-100" alt="" />
        </div>
    </div>
</div>

<%- include("shared/footer.ejs") %>